@import '../../variables.scss';
@import '../../base.scss';


.title{
    width: 40em;
}
.main-compose-container {
    padding-top: 4.5em;
    padding-left: .5em;
    padding-right: .5em;
    .ql-container{
        height: 45vh;
    }
    h1{
        margin-bottom: 0em;
        color: $secondary-color;
    }

    .compose-text-date {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        input {
            margin: .5em auto;
            width: 13em;   
        }
        #datepicker {
            margin-top: .5em;
            width: 10em;
        }
    }
    .quill-btn-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }
    .compose-btns{
        margin-top:7%;
    }
}
@media (min-width: 800px) {
    .main-compose-container {
        padding-left: 6em;
        padding-right: 3em;

        .compose-text-date {
            flex-direction: row;

        }
        .ql-container{
            height: 45vh;
        }
        .compose-btns{
            margin-top:2%;
        }
    }
}