@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Nunito:400,700|Roboto');


/*-------------- General -------------------*/


* {
    box-sizing: border-box;
  }

  h1 {
      font-family: Nunito, Roboto, Lato;
  }

  .input-effect {
    background-color: rgb(240, 247, 241);
    margin: 10px auto;
    width: 250px;
    height: 30px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    padding: 5px;
    box-shadow: -2px 4px 7px .8px rgb(223, 223, 223)
  }

  .btn-ui {
      border-radius: 15px;
      font-weight: 400;
  }

/*-------------- login.js -------------------*/

.background {
    .logo{
       width: 15em;
       position: absolute;
       margin: 0 auto;
       top: 4.8em;
    }
    position: absolute;
    z-index: -1;
    background-color: $background-color;
    width: 100vw;
    height:100vh;
    .login-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20em;
        height: 20em;
        padding: 1em;
        margin: 14em auto 0 auto;
        padding-top: 3em;
        input {
            width: 8em;
            margin: 1em auto;
        }
        button {
            width: 10em;
            margin: 2em auto;
        }
    }
}




@media (min-width: 600px) {
    
    
    .background {
        .login-main{
            margin-bottom: 0;
        }
        
    }
}
    
/*-------------- Signup.js -------------------*/
.signup-background{
    position: absolute;
    z-index: -1;
    background-color: $secondary-color;
    width: 100vw;
    height:100vh;
    .logo{
        width: 15em;
        position: absolute;
        margin: 0 auto;
        top: .8em;
     }
     .signup-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20em;
        padding: 1em;
        margin: 10em auto 0 auto;
        padding-top: 3em;
        input {
            width: 9em;
            margin: .7em auto;
        }
        button {
            width: 10em;
            margin: 2em auto;
        }
     }
}
/*-------------- Nav.js -------------------*/


.nav-container {
    .logo-nav{
        position: absolute;
        width: 5em;
        top: 0;
    }
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    width: .1em;
    height: 100vh;
    bottom: 0;
    left: 0;
    .menu-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: .1em;
        left: .1em;
        background-color:  rgba(46, 58, 92,0.5);
        border-radius: 20px;
        :hover {
            color: rgba(255, 255, 255, 0.342);
        }
        :active {
            color:   rgba(6, 255, 172, 0.692);
        }
        .btn-label{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 2em;
            height: 2em;
            margin: 1em;
            label {
                font-size: 11px;
                font-weight: 700;
            }
            
        }
    }
    .add-btn {
        position: absolute;
        bottom: 1em;
        right: 1em;
        z-index: 3000;
    }
}

@media (min-width: 800px) {
    .nav-container {
        background-color: rgb(46, 58, 92);
        box-shadow: 2px 0px 20px .5px rgb(67, 66, 85);
        display: flex;
        flex-direction: column;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 5em;
        height: 100vh;
        .menu-icons{
            margin-top: 6em;
            position: initial;
            justify-content: space-around;
            height: 20em;
        }
        .add-btn {
            display: none;
        }
    }
}

/*-------------- Header.js -------------------*/

.header-container {
    background-color: $dark-blue;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 5;
    padding: 1em 2em;
    width: 100vw;
    height: 5.4em;
    top: 0;
    h2 {
        font-family: Nunito, Roboto, Lato;
        color: white;
        margin-right: 1em;
    }
}
/*-------------- Dashboard.js -------------------*/

.dashboard-container {
    background-color:  rgb(219, 223, 242);
    width: 100vw;
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
    padding: 1em;
    padding-top: 6em;
    .stats-main {
        color: $secondary-color;
        padding: 20px;
    }
        .flex-item {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        // -------Article image ------
        .entry-list-main {
            h4{
                margin: 10px auto;
                color: $secondary-color;
            }
            font-family:  Nunito, Roboto, Lato;
            display: flex;
            flex-direction: column;
            // justify-content: end;
            align-items: flex-end;
            .entry-list-container {
                display: flex;
                width: 95%;
                justify-content: space-between;
                // align-items: flex-end;
                .entry-list-map {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }
}

@media (min-width: 800px) {
    .dashboard-container {
        background-color:  rgb(234, 237, 248);
        display: flex;
	flex-direction: row;
	flex-wrap: wrap;
        padding-top: 6em;
        padding-left: 7em;
        .flex-item {
            width: 45%;
            margin:4em;
        }
        .upper-container{
            display: flex;
            .stats-main {
                height: inherit;
                min-width: 450px;
                margin: 0;
                margin-right: 2em;
            }
        }
            .entry-list-main {
                display: flex;
                flex-direction: column;
                align-items: space-around;;
                margin-top: 1em;
                margin-left: 0;
                margin-right: 0;
                width: 100%;
            }
    }
}


/*-------------- Entry.js -----------------*/
.view-main{
    padding: 6em 2em 0em 2em;
    height: 100vh;
    .entry-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em;
    }
    .quill{
        height: 55vh;
        background-color: rgb(248, 248, 248);
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.158);
    }
}
    
/*-------------- Compose.js -----------------*/

.title{
    width: 40em;
}
.main-compose-container {
    padding-top: 4.5em;
    height: 100vh;
    padding-left: 1em;
    padding-right: 1em;

    h1{
        margin-bottom:0;
        color: $secondary-color;
    }

    .compose-text-date {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        margin: 0 auto;
        
        input {
            margin: 1em auto;
            width: 15em;   
        }
        #datepicker {
            width: 10em;
        }
    }
    .quill-btn-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        .quill {
            position: block;
            height: 10em;
        }
        .qlcontainer{
            position: inherit;
        }
    }
        .compose-btns {
            position: absolute;
            bottom:2em;
            z-index: 20;
            left: 45vw;
        }
}
@media (min-width: 600px) {
    .main-compose-container {
        padding-left: 6em;
        padding-right: 3em;

        .compose-text-date {
            width: 90%;
            flex-direction: row;
            #date-picker{
                margin: 0;
            }
        }
        .ql-container{
            height: 22em;
        }
    }


}
    /*-------------- Tags.js -----------------*/
    
iv.ReactTags__tags {
    position: relative;
    margin: 40px;
}

.tag-component {
    margin: 1em;
}


div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    padding: 0 4px;
}


/* Styles for selected tags */

.ReactTags__selected {
    display: flex;
}

div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 10px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    border-radius: 10px;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
    z-index: 100;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

/*-------------- Wizard.js -----------------*/

.parent-container{
    background-color: $dark-blue;
    color: white;
    height: 15vh;
    margin-bottom: 1em;
    display: flex;
    h1{
        color: $secondary-color;
    }
    img {
        width: 6em;
        left: 1em;
        top: .5em;
    }
    .menu-btn {
        :hover {
            color: rgba(255, 255, 255, 0.342);
        }
        :active {
            color:   rgba(6, 255, 172, 0.692);
        }
        .btn-label{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 2em;
            height: 2em;
            margin: 1em;
            label {
                font-size: 11px;
                font-weight: 700;
            }
            
        }
    }
    .check-box-container{
        margin: 0 auto;
        span{
            font-weight: 700;
        }
    }
    .wizard-datepicker {
        width: 7em;
    }
}

@media (min-width: 600px) {
    .parent-container{
        img {
            width: 6em;
            position: absolute;
            left: 1em;
            top: .5em;
        }
    }
}
/*-------------- StepOne.js -----------------*/

.indicators-container{
    display: flex;
    flex-direction: column;

}

@media (min-width: 600px) {
    .step-one-main {
        // display: flex;
        padding: 1em;
        .overall-condition-container {
            margin: 0em auto;
            display: flex;
            width: 90%;
            justify-content: space-around;
        }
        .indicators-container{
            width: 90vw;
            padding: 0em;
            flex-direction: row;
            .single-box{
                padding: 1em;
                .blood-pressure-input, .glucose-input {
                    width: 6em;
                }
                .glucose-input{
                    margin-top: 1.3em;
                }
                .slider-input {
                    width: 2.5em;
                }
                .slider {
                    width: 20em;
                    margin: 1em auto;
                }
            }
        }
    }
}
    
.paper-container {
    width: 25em;
    height: 7em;
    padding: 1em;
}


/*---------------------- Stats.js -----------------------*/
.stats-container{
    padding-top: 4em;     
        .chart-container{
            width: 80%;
            margin-bottom: 2em;
        }
            .button-containers{
                display: flex;
                justify-content: center;
                margin: .5em;
            }
    .lower-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .chart-container{
            width: 80%;
            margin-bottom: 2em;
        }
    }
}

@media (min-width: 800px) {
    .stats-container{
        padding-left: 6em;
    }
}