@import './variables.scss';


/*-------------- General -------------------*/


* {
    box-sizing: border-box;
  }


  .input-effect {
    background-color: rgb(240, 247, 241);
    margin: 10px auto;
    width: 250px;
    height: 30px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    padding: 5px;
    box-shadow: -2px 4px 7px .8px rgb(223, 223, 223)
  }

  .btn-ui {
      border-radius: 15px;
      font-weight: 400;
  }

/*-------------- login.js -------------------*/

.background {
    .logo{
       width: 15em;
       position: absolute;
       margin: 0 auto;
       top: 3em;
    }
    // clip-path: polygon(27% 16%, 100% 0%, 100% 86%, 0 98%);
    background-color: #C1C8E4;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height:100vh;
    .login-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20em;
        height: 30em;
        padding: 1em;
        margin: 10em auto;
        padding-top: 6em;
        input {
            width: 8em;
            margin: 1em auto;
        }
        button {
            width: 10em;
            margin: 2em auto;
        }
    }
}


@media (min-width: 600px) {
    
    
    .background {
        
        
    }
}
    
/*-------------- Nav.js -------------------*/


.nav-container {
    .logo-nav{
        position: absolute;
        width: 5em;
    }
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    .button-wrap{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 2em;
        label {
            font-size: 11px;
            font-weight: 700;
        }
    }
    .add-btn {
        position: absolute;
        bottom: 1em;
        right: 1em;
        z-index: 3000;
    }
}

@media (min-width: 600px) {
    .nav-container {
        background-color: rgb(46, 58, 92);
        box-shadow: 2px 0px 20px .5px rgb(67, 66, 85);
        display: flex;
        flex-direction: column;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 5em;
        height: 100vh;
        .button-wrap{
            display: flex;
            flex-flow: column;
            align-items: center;
            margin: 2em;
            label {
                font-size: 11px;
                font-weight: 700;
            }

        }
        .add-btn {
            display: none;
        }
    }
}

/*-------------- Header.js -------------------*/

.header-container {
    background-color: $dark-blue;
    display: flex;
    justify-content: space-around;
}

/*-------------- Dashboard.js -------------------*/

.dashboard-container {
    background-color:  rgb(219, 223, 242);
    width: 100vw;
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
    padding: 1em;
    .stats-main {
        height: 15em;
    }
        .flex-item {
            width: 100%;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .entry-list-main {
            display: flex;
            flex-direction: column;
            // justify-content: end;
            align-items: flex-end;
            .entry-list-container {
                display: flex;
                align-items: flex-end;
                .entry-list-map {
                    display: flex;
                }
            }
        }
}

@media (min-width: 600px) {
    .dashboard-container {
        background-color:  rgb(234, 237, 248);
        display: flex;
	flex-direction: row;
	flex-wrap: wrap;
        padding-top: 1em;
        padding-left: 7em;
        .flex-item {
            width: 45%;
            margin:4em;
        }
        .stats-main {
            height: inherit;
            min-width: 450px;
            margin: 0;
            margin-right: 2em;
        }
            .entry-list-main {
                display: flex;
                flex-direction: column;
                // justify-content: end;
                align-items: space-around;;
                margin-top: 1em;
                margin-left: 0;
                margin-right: 0;
                width: 80%;
                .entry-list-container {
                    display: flex;
                    align-items: space-around;
                    .entry-list-map {
                        display: flex;
                        width: 100%;
                        justify-content: space-around;
                    }
                }
            }
    }
}





/*-------------- Compose.js -----------------*/

.title{
    width: 40em;
}
.compose-text-date {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    input {
        margin: 3em;
        width: 30em;   
    }
    #datepicker {
        width: 10em;
    }
}
.quill-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 40em;
    margin: 0 auto;
    .quill {
        height: 30em;
    }
    .compose-btn {
        width: 10em;
        padding: 1em;
        margin: 4em auto;
    }
}

/*-------------- Tags.js -----------------*/

iv.ReactTags__tags {
    position: relative;
    margin: 40px;
}

.tag-component {
    margin: 1em;
}


div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    padding: 0 4px;
}


/* Styles for selected tags */

.ReactTags__selected {
    display: flex;
}

div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 10px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    border-radius: 10px;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
    z-index: 100;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

/*-------------- Wizard.js -----------------*/


.wizard-datepicker {
    width: 7em;
}

/*-------------- StepOne.js -----------------*/



.step-one-main {
    // display: flex;
    padding: 1em;
    .overall-condition-container {
        margin: 0em auto;
        display: flex;
        width: 90%;
        justify-content: space-around;
    }
    .indicators-container{
        display: flex;
        width: 90%;
        padding: 0em;
        .single-box{
            padding: 1em;
            .blood-pressure-input, .glucose-input {
                width: 6em;
            }
            .glucose-input{
                margin-top: 1.3em;
            }
            .slider-input {
                width: 2.5em;
            }
            .slider {
                width: 20em;
                margin: 1em auto;
            }
        }
    }
}

.paper-container {
    width: 25em;
    height: 7em;
    padding: 1em;
}


// .single-toggle {
//     margin: 10px;
// }

// .single-box {
//     width: 25vw;
// }