@import "./variables.scss";


/*-------------- General -------------------*/


* {
    box-sizing: border-box;
  }


  .input-effect {
    background-color: rgb(240, 242, 247);
    margin: 10px auto;
    width: 250px;
    height: 30px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    padding: 5px;
    box-shadow: -2px 4px 7px .8px rgb(223, 223, 223)
  }


/*-------------- login.js -------------------*/

  .login-main {
      display: flex;
      flex-direction: column;
      width: 30em;
      height: 20em;
      padding: 2em;
      margin: 15em auto;
      button {
          width: 10em;
          margin: 2em auto;
      }
  }

/*-------------- Nav.js -------------------*/

.nav-container {
    background-color: $darkest-blue;
    display: flex;
    flex-direction: column;
    color: white;
    position: fixed;
    // top: 0;
    left: 0;
    height: 100vh;
}

/*-------------- Header.js -------------------*/

.header-container {
    background-color: $dark-blue;
    display: flex;
    justify-content: space-around;
}

/*-------------- Dashboard.js -------------------*/

.dashboard-container {
    background-color: $light-blue;
    display: flex;
    justify-content: space-between;
    
    padding: 10em;
        .entry-list-main {
            display: flex;
            flex-direction: column;
            // justify-content: end;
            align-items: flex-end;
            width: 30%;
            .entry-list-container {
                display: flex;
                align-items: flex-end;
                .entry-list-map {
                    display: flex;
                }
            }
        }
}


/*-------------- Compose.js -----------------*/

.title{
    width: 40em;
}
.compose-text-date {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    input {
        margin: 3em;
        width: 30em;   
    }
    #datepicker {
        width: 10em;
    }
}
.quill-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 40em;
    margin: 0 auto;
    .quill {
        height: 30em;
    }
    .compose-btn {
        width: 10em;
        padding: 1em;
        margin: 4em auto;
    }
}


/*-------------- Wizard.js -----------------*/


.wizard-datepicker {
    width: 7em;
}

/*-------------- StepOne.js -----------------*/



.step-one-main {
    // display: flex;
    padding: 1em;
    .overall-condition-container {
        margin: 0em auto;
        display: flex;
        width: 90%;
        justify-content: space-around;
    }
    .indicators-container{
        display: flex;
        width: 90%;
        padding: 0em;
        .single-box{
            padding: 1em;
            .blood-pressure-input, .glucose-input {
                width: 6em;
            }
            .glucose-input{
                margin-top: 1.3em;
            }
            .slider-input {
                width: 2.5em;;
            }
            .slider {
                width: 20em;
                margin: 1em auto;
            }
        }
    }
}

.paper-container {
    width: 25em;
    height: 7em;
    padding: 1em;
}


// .single-toggle {
//     margin: 10px;
// }

// .single-box {
//     width: 25vw;
// }