$primary-color: rgb(255, 250, 226);
$secondary-color: rgba(255, 85, 85, 0.945);
$light-blue: rgb(223, 234, 240);
$dark-blue: #374785;
$darkest-blue:rgb(32, 48, 68);
$background-color:  #C1C8E4;
$teal-color: rgba(0, 255, 170, 0.829);
